<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Resumo da carreira.</h2>
<div class="summary">
    <p>
        Tenho pouco mais de 8 anos de experiência direta com T.I, passando de manutenção de computador a desenvolvedor de sistemas, gosto muito 
        de trabalhar com código sendo Java e Javascript as linguagens que mais estudei até hoje, tenho me dedicado muito ao mundo mobile com React e Ionic
        , procuro sempre me atualizar do que aparece de novo e sempre e estou sempre estudando..
        <b> eterno estudante ... </b>
    </p>
</div><!--//summary-->
</section><!--//section-->