<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiência</h2>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Assistente de T.I</h3>
                <div class="time">2010 - 2013</div>
            </div><!--//upper-row-->
            <div class="company">Barbosa Distribuidora de Bebidas LTDA</div>
        </div><!--//meta-->
        <div class="details">
            <p>Manutenção dos computadores, bem como impressoras e smarthphones.</p>  
            <p>Digitação de notas fisciais.</p>
            <p>Manutenção e prevenção de problemas com redes.</p>
            <p>Manutenção do Sistema ( Control informática ).</p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Analista de Sistemas</h3>
                <div class="time">2013 - 2015</div>
            </div><!--//upper-row-->
            <div class="company">Cocais Distribuidora de Bebidas LTDA</div>
        </div><!--//meta-->
        <div class="details">
            <p>Manutenção e instalação de redes e servidores.</p>  
            <p>Manutenção e instalação de infraestrutura.</p>
            <p>Treinamento a novos usuários.</p>
            <p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Analista de Vendas</h3>
                <div class="time">2016 - Atualmente</div>
            </div><!--//upper-row-->
            <div class="company">RIONORTE Distribuidora de Bebidas LTDA</div>
        </div><!--//meta-->
        <div class="details">
            <p></p>  
            <p></p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Desenvolvedor Junior</h3>
                <div class="time">2016 - Atualmente</div>
            </div><!--//upper-row-->
            <div class="company">Hunza System</div>
        </div><!--//meta-->
        <div class="details">
            <p></p>  
            <p></p>
        </div><!--//details-->
    </div><!--//item-->
                
</section><!--//section-->