<section class="skills-section section">
    <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
    <div class="skillset">        
        <div class="item">
            <h3 class="level-title">JavaScript &amp; JS</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="70%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">AngularJS &amp; NG</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">NodeJS &amp; node</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">ReactJS &amp; react</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="30%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">Java &amp; Java</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">SPRING &amp; Java</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="80%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">JPA &amp; Java</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="80%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->
        
    </div>  
</section><!--//skills-section-->